.main_container {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  padding: 40px 30px;
  border-radius: 10px;
}

input {
    padding: 8px;
    border-radius: 20px;
    border: none;
}

.btn_search {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: #fff;
}

.btn_search:hover {
    background-color: green;
    color: #fff;
}
.weather-icon {
    margin-left: 75px;
  height: 100px;
  width: 100px;
}

.card {
  width: 250px;
  display: none;
}

.weather_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temp, .city {
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.humidity_img, .wind_img {
    width: 20px;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}